// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity {
	margin: 30px 0 30px 0;
}

.activity:hover {
	background-color: #F7F7F7;
}