// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-friend-btn {
	margin-top: 20px;
	margin-left: 70px;
}

.accept-friendship-btn {
	margin-top: 20px;
	margin-left: 30px;
}

.delete-request-btn {
	margin-top: 20px;
	margin-left: 50px;
}

.unfriend-btn {
	margin-top: 20px;
	margin-left: 85px;
}

.block-user-btn {
	margin-top: 10px;
	margin-left: 85px;	
}

.unblock-user-btn {
	margin-top: 10px;
	margin-left: 70px;
}

.gravatar-avatar {
	margin-top: 10px;
}