// Place all the styles related to the user_friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#friend-confirmation {
	padding: 10px 0 20px 0;
}

.accept-friendship-btn-index {
	padding: 10px 0 10px 0;
}

.friend-index {
	padding-bottom: 20px;
}

.block-friendship-btn-index {
	margin: 10px 0 15px 0;
}

.friend-list-selection {
	margin: 10px 0 25px 0;
}