// Place all the styles related to the user_friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#friend-confirmation {
	padding: 10px 0 20px 0;
}

.accept-friendship-btn {
	padding: 0 0 15px 0;
}

.delete-friendship-btn {
	padding: 0 0 0 30px;
}

.friend-index {
	padding-bottom: 20px;
}